In [2]:
#! pip install tsfresh

In [98]:
import  pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials 
from sklearn.ensemble import RandomForestRegressor
from prophet import Prophet
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline

In [19]:
tsla_df = yf.download('TSLA', 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False)
tsla_df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-31  67.557999  67.842003  65.052002  66.559998  66.559998  31511500
2019-01-02  61.220001  63.026001  59.759998  62.023998  62.023998  58293000
2019-01-03  61.400002  61.880001  59.476002  60.071999  60.071999  34826000
2019-01-04  61.200001  63.599998  60.546001  63.537998  63.537998  36970500
2019-01-07  64.344002  67.348000  63.549999  66.991997  66.991997  37756000

In [18]:
tsla_df.index.max(),tsla_df.index.min()

(Timestamp('2019-12-30 00:00:00'), Timestamp('2018-12-31 00:00:00'))

In [84]:
def load_data(start_date,end_date,ticker):
    """the functions read data from the yahoo website.
     and returns a dataframe and a list
     
     Input: start date: date format
            end date : date format
            ticker: name of the stock: string
     Output: Target variable:list
             Independent variables:dataframe"""
    df = yf.download(ticker,start_date,end_date,progress = False)
    X= df[['Open','High','Low','Close','Volume']]
    Y = df['Adj Close']
    return X,Y

X,Y = load_data('2017-01-01','2022-01-01','AMZN')

In [161]:
#split the data, since the data is a timeseries,
#will split it based on the date,and keep 30days data as the test data

def train_test_split(X,Y,n_steps,end_date = None):
    """split the data to train and test sets
       input: X,Y
       output: X_train: dataframe
               Y_train: list
               X_test:dataframe
               Y_test:list"""
    end_date = pd.to_datetime(end_date)
    X_train= X[:end_date]
    Y_train= Y[:end_date]
    X_test = X[end_date:end_date+timedelta(days = n_steps)]
    Y_test = Y[end_date:end_date+timedelta(days = n_steps)]
    return X_train,Y_train,X_test,Y_test


X_train,Y_train,X_test,Y_test = train_test_split(X,Y,1,end_date='2021-12-01')

In [162]:
def build_model():

    pipeline = Pipeline([
        ('clf', RandomForestRegressor())
    ]) 

    return pipeline

In [163]:
# def model_build():
#     model = RandomForestRegressor()
#     return model

In [164]:
model = build_model()

In [165]:
model.fit(X_train,Y_train)

Pipeline(steps=[('clf', RandomForestRegressor())])

In [172]:
def evaluate_model(model,X_test,Y_test):
    Y_pred = model.predict(X_test)
    predicted = pd.DataFrame(Y_test)
    predicted['Adj Close Forecasted'] = Y_pred
    mape = abs(predicted['Adj Close']-predicted['Adj Close Forecasted'])/predicted['Adj Close']*100
    predicted['mape'] = mape
    mean_mape = predicted.mape.mean()
    mse= mean_squared_error(Y_test,Y_pred)
    print(predicted)
    return mse,mape,predicted


mse,mape,predicted = evaluate_model(model,X_test,Y_test)

              Adj Close  Adj Close Forecasted      mape
Date
2021-12-01  3443.719971           3444.175750  0.013235
2021-12-02  3437.360107           3436.590657  0.022385

In [171]:
predicted

              Adj Close  Adj Close Forecasted      mape
Date
2021-12-01  3443.719971           3444.175750  0.013235
2021-12-02  3437.360107           3436.590657  0.022385

In [169]:
mse,mape

(0.39989433842290845, Date
 2021-12-01    0.013235
 2021-12-02    0.022385
 dtype: float64)

In [ ]:
def main():
    X, Y = load_data(start_date,end_date,ticker)
    X_train,Y_train,X_test,Y_test = train_test_split(X,Y,end_date='2021-12-01')

    model = model_pipeline()
    model.fit(X_train, y_train)
    mse,mape,predicted = evaluate_model(model,X_test,Y_test)

main()